* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: #e2f1f8;
}

body {
  word-wrap: break-word;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
}

header,
main {
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto; /* auto generate rows as needed */
  gap: 1.85rem;
  place-content: center;
}

.grid-book {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: #b0bec5;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
}

.title,
.author,
.pages,
.isRead {
  margin-bottom: 1.2rem;
}

.add-book-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: min(80%, 300px);
  transform: translate(-50%, -50%) scale(0);
  background-color: #171717;
  color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  font-size: 1.5rem;
  transition: 0.2s ease-in;
}

.add-book-popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  gap: 1.15rem;
  padding: 1rem 2rem;
}

/*
.add-book-form .form-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.25rem;
}

.add-book-form .form-header .popup-close {
  border: none;
  border-radius: 6px;
  background-color: #171717;
  color: #e2f1f8;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.add-book-form .form-header .popup-close:hover {
  transform: rotate(180deg);
}
*/

.add-book-form .form-element {
  width: 100%;
  text-align: center;
}

.add-book-form .form-element input[type="text"],
.add-book-form .form-element input[type="number"] {
  padding: 0.75em 1.15em; 
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid white;
  border-radius: 8px;
  background-color: inherit;
  color: inherit;
  transition: all 300ms ease-in-out;
}

.add-book-form .form-element input[type="text"]:focus,
.add-book-form .form-element input[type="number"]:focus {
  box-shadow: 0 1px 10px #e2f1f8;
}

.add-book-form .form-element input[type="checkbox"] {
  transform: translateY(2px);
}

.add-book-form .form-element .checkbox-label {
  font-size: 1rem;
}

.dark-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.dark-overlay.active {
  display: block;
}

/* BUTTONS */
#addBookBtn {
  background-color: rgb(111, 114, 255);
  padding: 0.85em;
  margin: 0 auto;
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#addBookBtn:hover {
  transform: scale(1.1);
}

.book-btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.isRead-btn,
.remove-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.remove-btn {
  background-color: rgb(248, 20, 20);
}

.isRead-btn:hover,
.remove-btn:hover {
  box-shadow: 0 0 5px 3px rgb(77, 77, 77);
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#formAddBtn,
#formCancelBtn {
  padding: 0.5em 1.25em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: transform 0.2s ease-in, box-shadow 0.3s ease-in-out;
}

#formAddBtn:hover,
#formCancelBtn:hover {
  transform: translateY(-0.15em);
  box-shadow: 0 1px 10px #e2f1f8;
}

@media (min-width: 40em) {
  header {
    align-items: center;
    font-size: 1.75rem;
  }

  #addBookBtn {
    font-size: 1.5rem;
  }
}
