* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  background-color: #ededed;
}

body {
  word-wrap: break-word;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header,
main {
  padding: 30px;
}

#addBookBtn {
  background-color: rgb(111, 114, 255);
  padding: 0.75em;
  font-size: 1rem;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#addBookBtn:hover {
  transform: scale(0.9);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto; /* auto generate rows as needed */
  gap: 1rem;
  place-content: center;
}

.grid-book {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: center;
}

.title,
.author,
.pages,
.isRead {
  padding: 0.2rem;
}
